body{
font-family:"Hiragino kaku Gothic ProN","メイリオ",sans-serif;
}

h1{
    width:500px;
    margin:30px auto 20px;
    background-color: #f1f1f1;
    border-left:4px red solid;
    padding:5px 0 5px 15px;
    font-size:20px;
}

.confirm{
    width:450px;
    margin:0 auto;
    background-color:#fbfbfb;
    border:3px solid #ebebeb;
    border-radius:10px;
    padding:20px 20px 60px;
}

form{
    float:left;
    margin-right:15px;
}

.button1{
    border:1px solid lightgray;
    border-bottom:2px solid gray;
    background-color:#bfbfbf;
    padding:4px 10px;
    color:white;
    border-radius:5px;
}

.button2{
    border:1px solid lightgray;
    border-bottom:2px solid gray;
    background-color:darkorange;
    padding:4px 10px;
    color:white;
    border-radius:5px;
}